.main-content {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  transition: margin-left var(--transition-base);
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 0;
  }
}
